@model CredentialsValidation.Abstractions.ICredentials

@{
    ViewData["Title"] = "Home Page";
}

@section scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {

            $("#btn_Validate").on('click', function (e) {
                e.preventDefault();
                var inputIsOkay = true;
                var errorMsg = "";

                // First do some client side validation
                if ($("#txt_Email").val().length == 0) {
                     inputIsOkay = false;
                     errorMsg = "Please enter an e-mail address.<br/>";
                }

                if ($("#txt_Password").val().length == 0) {
                    inputIsOkay = false;
                    errorMsg += "Please enter a password.<br/>";
                }

                if (inputIsOkay === true) {
                    // Show the spinner before making the async call
                    $("#btn_Validate").hide();
                    $("#divSpinner").show();

                    var frmPostCredentials = $("#frmPostCredentials").serialize();
                    $.ajax({
                        url: '@Url.Action("Validate", "Home")',
                        type: 'POST',
                        traditional: true,
                        data: frmPostCredentials,
                        dataType: 'json',
                        ContentType: "application/json;utf-8",
                        cache: false,
                        success: function (response) {
                             // Async call done, return the controls to the earlier state
                            $("#btn_Validate").show();
                            $("#divSpinner").hide();

                            // Clear the old values
                            //$('#txt_Email').val("");
                            //$('#txt_Password').val("");

                            // Inform user about the result
                            if (response.success === true) {
                                // Validation succeeded
                                $('#divSuccess').html(response.successMessage);
                                $("#divSuccess").show();
                            }
                            else {
                                // Validation failed, inform user about the results
                                var errorMsg = "";
                                $.each(response.errors, function (key, value) {
                                    errorMsg += value.humanReadableMessage + "<br/>";
                                });

                                $('#divMessageModalBody').html(errorMsg);
                                $("#divMessage").show();
                            }
                        },
                        error: function (response) {
                            // An error occured, return the controls to the earlier state and inform the user
                            $("#btn_Validate").show();
                            $("#divSpinner").hide();
                            $("#divError").show();
                        }
                    });
                }
                else {
                    $('#divMessageModalBody').html(errorMsg);
                    $("#divMessage").show();
                }
            });

            $("#btnCloseSuccess").on('click', function (e) {
                e.preventDefault();
                $("#divSuccess").hide();
                return false;
            });

            $("#btnCloseError").on('click', function (e) {
                e.preventDefault();
                $("#divError").hide();
                return false;
            });

            $("#btnCloseMessageModal").on('click', function (e) {
                e.preventDefault();
                $("#divMessage").hide();
                return false;
            });

        });
    </script>
}

<div>
    <h1 class="display-4">Welcome!</h1>


    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmPostCredentials" }))
    {
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        Enter Credentials
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center mb-3">
                            <div class="col-2">
                                <label for="inputEmail3" class="col-form-label">Email</label>
                            </div>
                            <div class="col-6">
                                <input type="email" class="form-control" id="txt_Email" asp-for="EMail" placeholder="name@example.com">
                            </div>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <div class="col-2">
                                <label for="inputPassword3" class="col-form-label">Password</label>
                            </div>
                            <div class="col-6">
                                <input type="password" class="form-control" id="txt_Password" asp-for="Password" placeholder="password">
                            </div>
                        </div>
                        <div class="row justify-content-center mb-3">
                            <div class="col-2 justify-content-center">
                                <button type="button" id="btn_Validate" class="btn btn-primary">Register</button><br />
                                <div id="divSpinner" style="display:none" class="spinner-border text-primary" role="status"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    <div id="divSuccess" style="display:none" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Success</h5>
                </div>
                <div class="modal-body">
                    <p>The credentials validated successfully!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCloseSuccess" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="divError" style="display:none" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                </div>
                <div class="modal-body">
                    <p>An unexpected error occured!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCloseError" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="divMessage" style="display:none" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Error</h5>
                </div>
                <div id="divMessageModalBody" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCloseMessageModal" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
